body {
	font-family: verdana;
	margin: 2%;
	padding: 0;
	width: 90%;
}
h3 {
	text-transform: uppercase;
}
ul.one { text-align: left; float: left;
margin: -2%;
padding: 0;
width: 100%;}

ul.two { float: left;
	margin: -2%;
	padding: 0;
	width: 100%;
}

li { float: left;
	margin: 0 1%;
	padding: 10px;
	width: 45%;
	list-style: none;
}
h4.first{text-transform: uppercase;}